
.correcto{

    border-color: green;
}
.error{

    border-color: red;
}

.msjBien{
  background-color:green;
    color: rgb(4, 150, 50);
}

.msjError{

    color:red
}
.Error{
    background-color: #FBE9E7;
    border: 1px solid #F4511E;
    padding: 10px;
    margin-bottom: 20px;
    text-align: center;
    color: #F4511E;
}
.imgError{

    float: right
}

.imgSucces{

    float: right
}

.StockBuscador{

    color: #F4511E;
}



